extends layout.pug

block content

  article.portfolio-intro

    //- Replace with your own heading like 'My Portfolio', or 'Hey, Potential Employers', or 'Let's make the web great together!' 
    h1 Let's make the web great together!

    //- Replace with a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
    p Full Stack Engineer & Former Data Scientist
    br
    p Hello World! I'm currently enrolled in the Treehouse Full Stack JavaScript techdegree. I recently completed a M.S. in Business Analytics at Lewis University, as well as the Data Science & Machine Learning program at Lambda School. I'm aspiring to be a Full-Stack Developer in the near future. Please feel free to contact me if you have any questions or upcoming projects! 

  article.portfolio-project-thumbs
    .projects-box.box.grid

      //- Use the Pug `each` iterator to loop over the projects in your data file  
      
        //- Use the example Pug code below and interpolated template literals as needed to dynamically generate:
          //- The paths in the link's href and img's src attributes
          //- The text 'Thumbnail' interpolated with the project title for the img's alt attribute
          //- The project title for the h5 element's text

        .cell
          a(href='#')
            img.thumbnail(src='https://placehold.it/550x550', alt='')
            h5 My Site

