extends layout.pug

block content

  article.portfolio-intro
 
    h1 Hello World

    p Hi, my name is Khaled (Kuh-led). I'm a software developer currently focused on full stack web development. Below is a showcase of a few of my projects and recent work.

  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects

        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.main_image}`, alt='')
            h5= project.project_name

