
article.portfolio-intro
  h1 404 - Page Not Found
  p Oops!  It looks like the page you're looking for does not exist.

  if err 
      div.stacktrace
          hr
          //- pre #{err.stack}

  nav.nav
    a(href='/')
      span &larr;
      |  Back
